<div class=" m-8 h-full flex justify-center w-full">
  <div>
    <table class="w-full shadow-lg rounded-lg">
      <thead>
        <tr>
          <th class="px-6 py-3 bg-gray-50 text-left text-xs font-medium text-gray-500 uppercase tracking-wider">Product Name</th>
          <th class="px-6 py-3 bg-gray-50 text-left text-xs font-medium text-gray-500 uppercase tracking-wider">Product Description</th>
          <th class="px-6 py-3 bg-gray-50 text-left text-xs font-medium text-gray-500 uppercase tracking-wider">Product Price</th>
          <th class="px-6 py-3 bg-gray-50 text-left text-xs font-medium text-gray-500 uppercase tracking-wider">Quantity</th>
          <th class="px-6 py-3 bg-gray-50 text-left text-xs font-medium text-gray-500 uppercase tracking-wider">Total</th>
          <th class="px-6 py-3 bg-gray-50"></th> 
        </tr>
      </thead>
      <tbody class="bg-white divide-y divide-gray-200">
        <% @carts.each do |cart| %>
          <tr>
            <td class="px-6 py-4 whitespace-nowrap"><%= cart.product.name %></td>
            <td class="px-6 py-4 whitespace-nowrap"><%= cart.product.description %></td>
            <td class="px-6 py-4 whitespace-nowrap"><%= number_to_currency(cart.product.price) %></td>
            <td class="px-6 py-4 whitespace-nowrap"><%= cart.quantity %></td>
            <td class="px-6 py-4 whitespace-nowrap"><%= number_to_currency(cart.product.price * cart.quantity) %></td>
            <td class="px-6 py-4 whitespace-nowrap">
            <%= button_to 'Delete', cart_path(cart), method: :delete, 
                    style: 'min-width: 80px; padding: 5px; background-color: #dc2626; color: #fff; border-radius: 6px; border: none; text-align: center; cursor: pointer;', 
                    remote: true %>
            </td>
          </tr>
        <% end %>
      </tbody>
    </table>

    <div class="mt-4 flex gap-3 justify-end items-center">
      <p class="text-lg font-bold">Total Quantity: <span class="items-center px-2 py-1 me-2 text-sm font-medium text-blue-800 bg-blue-100 rounded"><%= @total_quantity %></span></p>
      <p class="text-lg font-bold chip">Total Price: <span class="items-center px-2 py-1 me-2 text-sm font-medium text-blue-800 bg-blue-100 rounded"><%= number_to_currency(@total_price) %></span></p>
      <button id="checkoutButton" class="px-4 py-2 bg-blue-500 text-white rounded-md hover:bg-blue-600 focus:outline-none focus:ring focus:ring-blue-300">
        Checkout
      </button>
    </div>
    </div>
</div>
<script>
  
 document.getElementById("cart").innerText=`cart <%= @total_count%>`
</script>