<h1 class="bg-gray-800 text-white py-4 px-6">Product List</h1>
<div class="flex flex-wrap mt-8" data-controller='search'>
  <% @products.each do |item| %>
    <div class="w-1/3 p-4">
      <div class="bg-white shadow-md rounded-md p-4">
        <h5 class="text-lg font-semibold my-1"><%= item.name %></h5>
        <h6 class="text-md my-1"><%= item.description %></h6>
        <p class="text-gray-600 my-1"><%= number_to_currency(item.price) %></p>
        <div class="flex gap-2 mt-4">
          <%= button_to 'Delete', product_path(item), method: :delete,
          style: 'min-width: 80px; padding: 5px; background-color: #dc2626; color: #fff; border-radius: 6px; border: none; text-align: center; cursor: pointer;',
          remote: true %>
          <%= button_to 'Edit', edit_product_path(item), method: :get,
          style: 'margin-top:2px; min-width: 80px; padding: 5px; background-color: #f59e0b; color: #fff; border-radius: 6px; border: none; text-align: center; cursor: pointer;',
          remote: true %>
        </div>
      </div>
    </div>
  <% end %>
</div>